<a href="https://store.alivecor.com/cart/add?id[]=28007532101697&id[]=32194082472001"
  class="ga-tracker"
  data-category="Banner Click"
  data-action="World Heart Day"
  data-label="{{ .URL }}">
  <div class="banner heartday two-lines">
    <div>
      <span class="line-two">Celebrate World Heart Day</span>
      <span class="line-break bold">Get $25 OFF KardiaMobile 6L when you join KardiaCare<span class="period">.</span></span>
      <span class="line-break">Use code: <span class="bold">HEARTDAY</span>
      <span class="italic">(US only)</span></span>
    </div>
  </div>
</a>