{% if shop.domain == 'store.alivecor.co.uk' %}
<a href="https://store.kardiamobile.co.uk/products/kardiamobile"
  class="ga-tracker"
  data-category="Banner Click"
  data-action="Prime Day 2020"
  data-label="{{ template }}">  
  <div class="banner red two-lines">
    <div>
        Happy Holidays from AliveCor <span class="line-break italic">(sale ends 31st Dec)</span>
    </div>
  </div>
</a>
{% else %}
  <div class="banner red two-lines">
    <div>
      Save on Kardia Devices this Prime Day. <span class="line-break">Don't miss out on our lowest prices ever. <span class="italic line-break">(US only)</span></span>
    </div>
  </div>
{% endif %}