<div class="benefit-icons-cart">
<div class="icons">
  <div class="icon-block">
    <img src="{{ 'free-shipping.png' | asset_url }}">
    <p>FREE <span>Shipping</span></p>
  </div>
  <div class="icon-block">
    <img src="{{ '30s-ekg.png' | asset_url }}">
    <p>30<span> seconds for a medical grade EKG reading</span></p>
  </div>
  <div class="icon-block">
    <img src="{{ 'safe-checkout.png' | asset_url }}">
    <p>SAFE <span>Checkout</span></p>
  </div>
  
</div>
</div>