<div class="benefit-icons-product">
<div class="testimonial">
  <span class="spr-starrating spr-badge-starrating">
    <i class="spr-icon spr-icon-star"></i>
    <i class="spr-icon spr-icon-star"></i>
    <i class="spr-icon spr-icon-star"></i>
    <i class="spr-icon spr-icon-star"></i>
    <i class="spr-icon spr-icon-star"></i>
  </span>
  <div class="icon-block">
    <img src="{{ 'safe-checkout.png' | asset_url }}">
    <p>VERIFIED purchase</p>
  </div>
  <p class="subject">Love this product!</p>
  <p class="detail"><span>Carolyn Mattingly</span> from <span>New York</span></p>
  <p>Love this product! It is so very easyto use. It connects to the iphone app with ease and it literally the easiest to record. Definitely worth the buy.</p>
</div>
<div class="icons">
  <div class="icon-block">
    <img src="{{ 'refund.png' | asset_url }}">
    <p>30-DAY <span>Money Back Guarantee</span></p>
  </div>
  <div class="icon-block">
    <img src="{{ '1-year-warranty.png' | asset_url }}">
    <p>1-YEAR <span>Warranty</span></p>
  </div>
  <div class="icon-block block">
    <img src="{{ 'free-shipping.png' | asset_url }}">
    <p>FREE SHIPPING <br style="display: none;"><span>Standard delivery: 1-3 business days</span></p>
  </div>
</div>
</div>
