{% comment %}
<div class="benefit-icons-product">
<div class="icons">
  <div class="icon-block">
    {% include 'icon-moneyBack.svg' %}
    <p>30-DAY Money <span>Back Guarantee</span></p>
  </div>
  <div class="icon-block larger">
    {% include 'icon-shipping.svg' %}
    {% if km-oos %}
      <p id="free-ship-benefit">Free Shipping</p>
    {% else %}
      <p id="free-ship-benefit">Free Shipping: <span>2-5 business days</span></p>
    {% endif %}
  </div>
  <div class="icon-block">
    {% include 'icon-warranty.svg' %}
    <p>1-Year <span>Warranty</span></p>
  </div>
</div>
{% endcomment %}
<div class="product-trust">
  {% include 'trust-banner' %}
</div>
{% if product.handle == "kardiamobile" %}
<div class="review">
  <div class="h2">Best product I have purchased</div>
  <span class="name">JMS on March 18, 2018</span>
  {% include 'icon-five-stars.svg' %}
  <p>You cannot imagine the face of the nurse when I told them I was in AFib - This is one of the best products I have ever purchased and well worth the price. If you are suffering from AFib or had it you should get this. It will make a world difference for you.</p>
</div>
{% endif %}
{% if product.handle == "kardiamobile6l" %}
<div class="review">
  <div class="h2">Highly recommend!</div>
  <span class="name">G. Daniels on July 19, 2019</span>
  {% include 'icon-five-stars.svg' %}
  <p>A six lead ECG in your pocket. My cardiologist says there is an enormous range of evaluations he can make on the 6L product that he could not make using only a single lead ECG. He couldn't believe his eyes when I showed it to him. He was aware of the company and told me that he trusted the wave form, and felt very confident making interpretations.</p>
</div>
{% endif %}
{% if product.handle == "kardiaband" %}
<div class="review">
  <div class="h2 fullWidth">Worth the Price and Peace of Mind</div>
  <span class="name">Mike on February 1, 2018</span>
  <p>I had an AFib incident recently which the watch detected, recorded, and alerted me. It alerts you if it sees an irregular pattern and you can take the ekg trace on the spot. My cardiologist loves the reports it produces. What makes the band easy is if it occurs at night you get the alert.</p>
</div>
{% endif %}
