<div class="benefit-icons-product">
<div class="icons">
  <div class="icon-block">
    {% include 'icon-moneyBack.svg' %}
    <p>30-DAY Money <span>Back Guarantee</span></p>
  </div>
  <div class="icon-block larger">
    {% include 'icon-shipping.svg' %}
    <p id="free-ship-benefit">Free Shipping: <span>1-3 business days</span></p>
  </div>
  <div class="icon-block">
    {% include 'icon-warranty.svg' %}
    <p>1-Year <span>Warranty</span></p>
  </div>
</div>
{% if product.handle == "kardiamobile" %}
<div class="review">
  <h2>Perfect product</h2>
  <span class="name">Peter on Aug 16, 2017</span>
  {% include 'icon-five-stars.svg' %}
  <p>Accurate, easy to use and to interpret, and readily accessible emailable results. Highly endorsed both by me, and by my cardiologist. Very reasonably priced for the service.</p>
</div>
{% endif %}
</div>

