<div class="benefit-icons-product">
<div class="testimonial">
  <span class="spr-starrating spr-badge-starrating">
    <i class="spr-icon spr-icon-star"></i>
    <i class="spr-icon spr-icon-star"></i>
    <i class="spr-icon spr-icon-star"></i>
    <i class="spr-icon spr-icon-star"></i>
    <i class="spr-icon spr-icon-star"></i>
  </span>
  <div class="icon-block">
    <img src="{{ 'safe-checkout.png' | asset_url }}">
    <p>VERIFIED purchase</p>
  </div>
  <p class="subject">Perfect product</p>
  <p class="detail"><span>Peter</span> on <span>Aug 16, 2017</span></p>
  <p>Accurate, easy to use and to interpret, and readily accessible emailable results. Highly endorsed both by me, and by my cardiologist. Very reasonably priced for the service.</p>
</div>
<div class="icons">
  <div class="icon-block">
    <img src="{{ 'refund.png' | asset_url }}">
    <p>30-DAY <span>Money Back Guarantee</span></p>
  </div>
  <div class="icon-block">
    <img src="{{ '1-year-warranty.png' | asset_url }}">
    <p>1-YEAR <span>Warranty</span></p>
  </div>
  <div class="icon-block block">
    <img src="{{ 'free-shipping.png' | asset_url }}">
    <p>FREE SHIPPING <br style="display: none;"><span>Standard delivery: 1-3 business days</span></p>
  </div>
</div>
</div>
