<div class="pop-up kardiacare-upsell" id="kardiacare-upsell-popup">
  <div class="screen">
  <div class="content">
    <a class="pop-up-close ga-tracker"
      id="kardiacare-upsell-close"
      data-category="KardiaCare Cart Pop Up Upsell"
      data-action="Clicked Close"
      data-label="Cart"></a>
    <div class="text kardiacare-table">
      <div class="h2Title">KardiaCare Membership</div>
      <div class="h3 subtitle">Gain access to exclusive features with KardiaCare.<br/>Just $99/year.</div>
      <div class="upsell-table-cont">
      {% include 'kardiacare-table-us', pageName: 'upsell' %}
      </div>
      <a class="btn ga-tracker"
        id="kardiacare-upsell-add"
        data-category="KardiaCare Cart Pop Up Upsell"
        data-action="Clicked Add to cart"
        data-label="Cart">
        Add KardiaCare
      </a>
      <a id="kardiacare-upsell-no"
        class="upsell-no ga-tracker" 
        data-category="KardiaCare Cart Pop Up Upsell"
        data-action="Clicked No thanks"
        data-label="Cart">
        No thanks
      </a>
    </div>
  </div>
  </div>
</div>