<div class="pop-up kardiacare-upsell original" id="kardiacare-upsell-popup">
  <div class="screen">
  <div class="content">
    <a class="pop-up-close ga-tracker"
      id="kardiacare-upsell-close"
      data-category="KardiaCare Cart Pop Up Upsell"
      data-action="Clicked Close"
      data-label="Cart"></a>
    <div class="text kardiacare-table">
      <div class="h2Title">KardiaCare Membership</div>
      <div class="h3 subtitle">Gain access to exclusive features with KardiaCare.<br/>{% if shop.domain == 'store.alivecor.co.uk'%}Just £99/year.{% else %}Just $99/year.{% endif %}</div>
      <div class="upsell-table-cont">
        {% if shop.domain == 'store.alivecor.co.uk'%}
          {% include 'kardiacare-table-uk', pageName: 'upsell' %}
        {% else %}
          {% include 'kardiacare-table-us', pageName: 'upsell' %}
        {% endif %}
      </div>
      <a class="btn ga-tracker"
        id="kardiacare-upsell-add"
        data-category="KardiaCare Cart Pop Up Upsell"
        data-action="Clicked Add to cart"
        data-label="Cart">
        Add KardiaCare
      </a>
      <a id="kardiacare-upsell-no"
        class="upsell-no ga-tracker"
        data-category="KardiaCare Cart Pop Up Upsell"
        data-action="Clicked No thanks"
        data-label="Cart">
        No thanks
      </a>
    </div>
  </div>
  </div>
</div>
<div class="pop-up kardiacare-upsell monthly" id="kardiacare-upsell-popup">
  <div class="screen">
  <div class="content">
    <a class="pop-up-close ga-tracker"
      id="kardiacare-upsell-close"
      data-category="KardiaCare Cart Pop Up Upsell"
      data-action="Clicked Close"
      data-label="Cart"></a>
    <div class="text kardiacare-table">
      <div class="h2Title">KardiaCare Membership</div>
      <div class="h3 subtitle">Get a <b>free month</b> when you join today.<br/>{% if shop.domain == 'store.alivecor.co.uk'%}Only £9.99/month.{% elsif request.host == 'shop.kardiamobile.ca' %}Only $13/month.{% else %}Only $9.99/month.{% endif %}</div>
      <div class="upsell-table-cont">
        {% if shop.domain == 'store.alivecor.co.uk'%}
          {% include 'kardiacare-table-uk', pageName: 'upsell' %}
        {% else %}
          {% include 'kardiacare-table-us', pageName: 'upsell' %}
        {% endif %}
      </div>
      <div class="disclaimer">Your second month will be free.</div>
      <a class="btn ga-tracker"
        id="kardiacare-upsell-add-monthly"
        data-category="KardiaCare Cart Pop Up Upsell"
        data-action="Clicked Add to cart"
        data-label="Cart">
        Add KardiaCare
      </a>
      <a id="kardiacare-upsell-no-monthly"
        class="upsell-no ga-tracker"
        data-category="KardiaCare Cart Pop Up Upsell"
        data-action="Clicked No thanks"
        data-label="Cart">
        No thanks
      </a>
    </div>
  </div>
  </div>
</div>
<div class="pop-up kardiacare-upsell yearly" id="kardiacare-upsell-popup">
  <div class="screen">
  <div class="content">
    <a class="pop-up-close ga-tracker"
      id="kardiacare-upsell-close"
      data-category="KardiaCare Cart Pop Up Upsell"
      data-action="Clicked Close"
      data-label="Cart"></a>
    <div class="text kardiacare-table">
      <div class="h2Title">KardiaCare Membership</div>
      <div class="h3 subtitle">Get a <b>free month</b> when you join today.<br/>{% if shop.domain == 'store.alivecor.co.uk'%}Just £99/year.{% else %}Just $99/year.{% endif %}</div>
      <div class="upsell-table-cont">
        {% if shop.domain == 'store.alivecor.co.uk'%}
          {% include 'kardiacare-table-uk', pageName: 'upsell' %}
        {% else %}
          {% include 'kardiacare-table-us', pageName: 'upsell' %}
        {% endif %}
      </div>
      <a class="btn ga-tracker"
        id="kardiacare-upsell-add-yearly"
        data-category="KardiaCare Cart Pop Up Upsell"
        data-action="Clicked Add to cart"
        data-label="Cart">
        Add KardiaCare
      </a>
      <a id="kardiacare-upsell-no-yearly"
        class="upsell-no ga-tracker"
        data-category="KardiaCare Cart Pop Up Upsell"
        data-action="Clicked No thanks"
        data-label="Cart">
        No thanks
      </a>
    </div>
  </div>
  </div>
</div>
<div class="pop-up kardiacare-upsell choice" id="kardiacare-upsell-popup">
  <div class="screen">
  <div class="content">
    <a class="pop-up-close ga-tracker"
      id="kardiacare-upsell-close"
      data-category="KardiaCare Cart Pop Up Upsell"
      data-action="Clicked Close"
      data-label="Cart"></a>
    <div class="text kardiacare-table">
      <div class="h2Title">KardiaCare Membership</div>
      <div class="h3 subtitle">Get a <b>free month</b> when you join today.</div>
      <div class="upsell-table-cont">
        {% if shop.domain == 'store.alivecor.co.uk'%}
          {% include 'kardiacare-table-uk', pageName: 'upsell' %}
        {% else %}
          {% include 'kardiacare-table-us', pageName: 'upsell' %}
        {% endif %}
      </div>
      {% include 'kardiacare-add-to-cart', selectorType: 'slider', location: 'upsell' %}
      <span id="KardiaCareProductPrice"></span>
    </div>
  </div>
  </div>
</div>