<div class="modal">
  <div class="modal-fade-screen">
    <div class="modal-inner video">
      <div class="modal-close"></div>
      <div class="video-wrapper">
        <div id="video-player">
          <iframe width="640" height="360" frameborder="0"webkitallowfullscreen mozallowfullscreen allowfullscreen allow="autoplay; encrypted-media"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
