<p>Every purchase of KardiaMobile includes our basic service free of charge. Unlock comprehensive control of your heart health with a Premium membership. Free trial for 30 days<sup>1</sup>.</p>
<table>
  <thead>
    <tr>
      <td></td>
      <td class="head">Basic<span>(Free)</span></td>
      <td class="head wide">Premium<span>({{ premium_price }})</span></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="feature">
        Take recordings anytime, anywhere
      </td>
      <td class="basic">
        {% include "icon-checkmark.svg" %}
      </td>
      <td class="premium">
        {% include "icon-checkmark.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature">
        Instant EKG analysis
      </td>
      <td class="basic">
        {% include "icon-checkmark.svg" %}
      </td>
      <td class="premium">
        {% include "icon-checkmark.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature">
        Detect normal heart rhythm or AFib
      </td>
      <td class="basic">
        {% include "icon-checkmark.svg" %}
      </td>
      <td class="premium">
        {% include "icon-checkmark.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature">
        Email unlimited EKG recordings to yourself or your doctor
      </td>
      <td class="basic">
        {% include "icon-checkmark.svg" %}
      </td>
      <td class="premium">
        {% include "icon-checkmark.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature">
        Blood pressure and weight tracking
      </td>
      <td class="basic">
        {% include "icon-checkmark.svg" %}
      </td>
      <td class="premium">
        {% include "icon-checkmark.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature">
        Unlimited cloud storage of EKG recordings
      </td>
      <td></td>
      <td class="premium">
        {% include "icon-checkmark.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature">
        Customized monthly reports mailed to your home to share with your doctor
      </td>
      <td></td>
      <td class="premium">
        {% include "icon-checkmark.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature">
        Medication tracking
      </td>
      <td></td>
      <td class="premium">
        {% include "icon-checkmark.svg" %}
      </td>
    </tr>
  </tbody>
</table>
<div class="footnotes">
  <p>
    1. Your 30-day free trial begins from the time you create an account with the Kardia App. After 30 days, you'll have the option to purchase Premium for {{ premium_price }} or continue to use Basic.
  </p>
</div>
