<p><strong>Premium membership is required for KardiaBand.</strong>  One month of Premium is included with purchase<sup>1</sup>.</p>
<table>
  <thead>
    <tr>
      <td></td>
      <td class="head wide">Premium<span>({{ premium_price }})</span></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="feature">
        Take unlimited EKG recordings anytime, anywhere
      </td>
      <td class="premium">
        {% include "icon-checkmark.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature">
        Instant EKG analysis to detect normal heart rhythm or AFib
      </td>
      <td class="premium">
        {% include "icon-checkmark.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature">
        Unlimited cloud storage of EKG recordings
      </td>
      <td class="premium">
        {% include "icon-checkmark.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature">
        Email EKG recordings to your doctor
      </td>
      <td class="premium">
        {% include "icon-checkmark.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature">
        Customized monthly reports mailed to your home to share with your doctor
      </td>
      <td class="premium">
        {% include "icon-checkmark.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature">
        Blood pressure, medication, and weight tracking
      </td>
      <td class="premium">
        {% include "icon-checkmark.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature">
        SmartRhythm monitoring and notifications for Apple Watch
      </td>
      <td class="premium">
        {% include "icon-checkmark.svg" %}
      </td>
    </tr>
  </tbody>
</table>
<div class="footnotes">
  <p>
    1. Your 30-day free trial begins from the time you create an account with the Kardia App. After 30 days, you'll be asked to purchase Premium for {{ premium_price }}.
  </p>
</div>
