<section class="premium-plan">
  <div class="main-plan">
    <div class="basic">
      <p>
        {% if product.handle != 'omron-evolv' %}
        Every purchase of {{ product.title }} includes our basic service free of charge, which includes unlimited EKG recordings with instant analysis, blood pressure and weight tracking, and storage of recorded EKGs on your phone.
        {% else %}
        Every purchase of {{ product.title }} includes our basic service free of charge. To get more out of your device, upgrade to the Premium Protection Plan and enjoy the exclusive features below.
        {% endif %}
      </p>
    </div>
    <div class="premium">
      <div class="ribbon">Premium Protection Plan</div>
      <div class="h1">Add even greater peace of mind with a Premium Protection Plan for a low monthly price.</div>
      <ul class="bullets">
      <li>
        <div class="icon">
        {% include 'device-replacement.svg' %}
        </div>
        <div class="h3">
          Device Replacement
        </div>
        <p>
          {% if product.handle != 'omron-evolv' %}
          Easily replace your Kardia device if it's lost, stolen or broken for just $19.99.
          {% else %}
          Easily replace your device if it's lost, stolen or broken for just $19.99.
          {% endif %}
        </p>
      </li>
      <li>
        <div class="icon">
        {% include 'cloud-storage-security.svg' %}
        </div>
        <div class="h3">
          Cloud Storage & Security
        </div>
        <p>
          {% if product.handle != 'omron-evolv' %}
          Enjoy secure access to all of your EKG recordings on any device, accessible anytime, anywhere.
          {% else %}
          Enjoy secure access to all of your blood pressure recordings on any device, accessible anytime, anywhere.
          {% endif %}
        </p>
      </li>
      <li>
        <div class="icon">
        {% include 'personalized-heart-health-report.svg' %}
        </div>
        <div class="h3">
          Personalized Heart Health Report
        </div>
        <p>
          {% if product.handle != 'omron-evolv' %}
          Receive a mailed report every 30 days with a summary of your EKG and blood pressure data to share with your doctor.
          {% else %}
          Receive a mailed report every 30 days with a summary of your heart data to share with your doctor.
          {% endif %}
        </p>
      </li>
      <li>
        <div class="icon">
        {% include 'medication-tracking.svg' %}
        </div>
        <div class="h3">
          Medication Tracking
        </div>
        <p>
          Receive reminders to take specific medication at your doctor’s recommended times and track your medication history.
        </p>
      </li>
    </ul>
    <div class="footnotes">
      <a href="https://www.alivecor.com/premium-protection-plan" target="_blank">Click here for Premium Protection Plan details and Device Replacement rules.</a>
    </div>
    </div>
  </div>
</section>