{% assign compat_specs_product = false %}
{% if product.handle == "kardiamobile" %}
  {% assign compatibility_liquid = 'compatibility-kardiamobile' %}
  {% assign techspecs_liquid = 'tech-specs-kardiamobile' %}
  {% assign compat_specs_product = true %}
  {% assign premium_liquid = 'premium-table-kardiamobile' %}
{% endif %}
{% if product.handle == "kardiaband" %}
  {% assign compatibility_liquid = 'compatibility-kardiaband' %}
  {% assign techspecs_liquid = 'tech-specs-kardiaband' %}
  {% assign compat_specs_product = true %}
  {% assign premium_liquid = 'premium-table-kardiaband' %}
{% endif %}
{% if shop.currency == "GBP" %}
  {% assign premium_price = '£9.99/month or £99/year' %}
{% elsif shop.currency == "EUR" %}
  {% assign premium_price = '€9.99/month or €99/year' %}
{% else %}
  {% assign premium_price = '$9.99/month or $99/year' %}
{% endif %}

<a name="tabs"></a>
<div class="targets clearfix">
  {% if compat_specs_product %}
  <a name="compatibility"></a>
  <div class="accordion" id="compatibility">
    <h3>{{ 'product_tabs.compatibility' | t }}
      <a class="toggler">
        <div class="rightarrow">
          {% include "icon-rightarrow.svg" %}
        </div>
        <div class="downarrow">
          {% include "icon-downarrow.svg" %}
        </div>
      </a>
    </h3>
    <div class="accordion-inner hidden">
      {% include compatibility_liquid %}
    </div>
  </div>

  <a name="specs"></a>
  <div class="accordion" id="specs">
    <h3>{{ 'product_tabs.tech_specs' | t }}
      <a class="toggler">
        <div class="rightarrow">
          {% include "icon-rightarrow.svg" %}
        </div>
        <div class="downarrow">
          {% include "icon-downarrow.svg" %}
        </div>
      </a>
    </h3>
    <div class="accordion-inner hidden">
      {% include techspecs_liquid %}
    </div>
  </div>

  <a name="premium"></a>
  <div class="accordion" id="premium">
    <h3>Premium Features
      <a class="toggler">
        <div class="rightarrow">
          {% include "icon-rightarrow.svg" %}
        </div>
        <div class="downarrow">
          {% include "icon-downarrow.svg" %}
        </div>
      </a>
    </h3>
    <div class="accordion-inner hidden">
      {% include premium_liquid %}
    </div>
  </div>
  {% endif %}
  <a name="reviews"></a>
  <div class="accordion" id="reviews">
    <h3>{{ 'product_tabs.reviews' | t }}
      <a class="toggler">
        <div class="rightarrow">
          {% include "icon-rightarrow.svg" %}
        </div>
        <div class="downarrow">
          {% include "icon-downarrow.svg" %}
        </div>
      </a>
    </h3>
    <div class="accordion-inner hidden">
      {% include 'reviews' product=product %}
    </div>
  </div>

  <a name="return_policy"></a>
  <div class="accordion" id="specs">
    <h3>{{ 'product_tabs.return_policy' | t }}
      <a class="toggler">
        <div class="rightarrow">
          {% include "icon-rightarrow.svg" %}
        </div>
        <div class="downarrow">
          {% include "icon-downarrow.svg" %}
        </div>
      </a>
    </h3>
    <div class="accordion-inner hidden">
      {% include 'return-policy' %}
    </div>
  </div>

</div>

