<section class="trust-banner">
  <section class="main-content">
    <div class="badge">
      <div class="icon">
        {% include 'icon-moneyBack.svg' %}
      </div>
      <p>30-DAY Money Back Guaranteed</p>
    </div>
    <div class="badge">
      <div class="icon stars">
        {% include 'icon-shipping.svg' %}
      </div>
      <p>FREE SHIPPING: 2-5 business days</p>
    </div>
    <div class="badge">
      <div class="icon">
        {% include 'icon-warranty.svg' %}
      </div>
      <p>1-YEAR Warranty</p>
    </div>
  </section>
</section>
