$(document).ready(function() {
  // navigation
  var scrollTop = 0;
  $(window).scroll(function(){
    scrollTop = $(window).scrollTop();

    // nav bar resize
    if ($('.navigation').hasClass('home-banner')) {
      if (scrollTop >= 100) {
        $('.navigation').addClass('scrolled-nav');
      } else if (scrollTop < 100) {
        $('.navigation').removeClass('scrolled-nav');
      }
    } else {
      if (scrollTop >= 50) {
        $('.navigation').addClass('scrolled-nav');
      } else if (scrollTop < 50) {
        $('.navigation').removeClass('scrolled-nav');
      }
    }
  });

  // if landing in the middle of the page, change nav to scrolled
  if ($(window).scrollTop() > 50) {
    $('.navigation').addClass('scrolled-nav');
  }
  $('#js-navigation-menu').removeClass('show');

  $('#js-mobile-menu').on('click', function() {
    document.getElementById('mobile-overlay').style.height = "100%";
    $('#js-navigation-menu').addClass('show');
    $(this).attr('aria-expanded', true);
  });

  $('#js-mobile-menu-close').on('click', function() {
    document.getElementById('mobile-overlay').style.height = "0%";
    $('#js-navigation-menu').removeAttr('style');
    $('#js-navigation-menu').removeClass('show');
    $('#js-mobile-menu').attr('aria-expanded', false);
  });

  // tabbable navigation
  var topLevelLinks = Array.prototype.slice.call(document.querySelectorAll('.nav-link > a'), 0);
  topLevelLinks.forEach(function(link) {
    link.addEventListener('focus', function() {
      this.parentElement.classList.add('focus');
    });
    if (link.nextElementSibling) {
      var subMenu = link.nextElementSibling
      var subMenuLinks = subMenu.querySelectorAll('a')
      var lastLinkIndex = subMenuLinks.length - 1
      var lastLink = subMenuLinks[lastLinkIndex]
      lastLink.addEventListener('blur', function() {
        link.parentElement.classList.remove('focus');
      });
    }
  });

  // product page change image on size change
  $('form').on('click', "input", function(e) {
    var imgUrl = $(this).data().imgUrl;
    var imgAlt = $(this).data().imgAlt;
    $('#ProductPhoto img').attr('src', imgUrl);
    $('#ProductPhoto img').attr('alt', imgAlt);
  });

  // home page change image on variant change
  $('.home-grid-item form, .cart-recommended-accessories form').on('click', "input", function(e) {
    var imgUrl = $(this).data().imgUrl;
    var imgId = $(this).data().imgId;
    $('#' + imgId + ' img').attr('src', imgUrl);
  });

  // accordion functions
  var bannerHeight = 70;

  function scrollToAnchor(anchorId) {
    var aTag = $("a[name='"+ anchorId +"']");
    $('html, body').animate({
      scrollTop: aTag.offset().top - bannerHeight
    }, 1000);
  }

  //scroll to tabs on page load  if there is a hash
  var hash = window.location.hash
  if (hash.length > 0 && hash !== '#site-content') {
    var split = hash.split('#')
    window.setTimeout(function() {
      scrollToAnchor(split[1]);
      $(hash + ' h3').click();
    }, 500);
  }

  //scroll to tabs when you click on this class
  $('.scroll-to-tab').on('click', function(e) {
    e.preventDefault();
    var hash = e.currentTarget.hash
    var split = hash.split('#');
    scrollToAnchor(split[1]);
    $(hash + ' h3').click();
  });

  $('.accordion h3').on('click', function(evt) {
    evt.preventDefault();
    var _this = $(this).parent('.accordion');
    _this.find('.accordion-inner').slideToggle();
    _this.find('.rightarrow').toggle();
    _this.find('.downarrow').toggle();
  });

  //some old modal bullshit
  // videos
  $('.play-video').on('click', function(evt) {
    evt.preventDefault();
    var videoId = $(this).data().videoid;
    openModal('video');
    vimeoPlayer(videoId);
  });

  // closing modal
  $('.modal-fade-screen, .modal-close').on('click', function() {
    closeModal();
    if (player) {
      stopVideo();
    }
  });

  $('.modal-inner').on('click', function(e) {
    e.stopPropagation();
  });

  // shipping modal open
  $('.shipping-options').on('click', function() {
    openModal('shipping-gb');
  });

  // Cart page
  // if cart page get cart items
  if (window.location.pathname.indexOf('cart') >= 0) {
    var currentCart;
    $.ajax({
      type: 'GET',
      url: '/cart.js',
      cache: false,
      dataType: 'json',
      success: function(cart) {
        currentCart = cart;
        searchCartOmron(cart);
      }
    });
  }
  function searchCartOmron(cart) {
    var km_6l_in_cart = false,
        omron_in_cart = false;
    for (i = 0; i < currentCart.items.length; i ++) {
      if (currentCart.items[i].handle === 'kardiamobile' || currentCart.items[i].handle === 'kardiamobile6l') {
        km_6l_in_cart = true;
      }
      if (currentCart.items[i].handle === 'omron-evolv') {
        omron_in_cart = true;
      }
    }
    if (km_6l_in_cart && !omron_in_cart) {
      setTimeout(function() {
        showOmronOffer();
      }, 1500);
    }
  }
  function searchCartCarryPod(cart) {
    var km_in_cart = false,
        km_cp_in_cart = false,
        km6l_in_cart = false,
        km6l_cp_in_cart = false;
    for (i = 0; i < currentCart.items.length; i ++) {
      if (currentCart.items[i].handle === 'kardiamobile') {
        km_in_cart = true;
      }
      if (currentCart.items[i].handle === 'kardiamobile-carrypod') {
        km_cp_in_cart = true;
      }
      if (currentCart.items[i].handle === 'kardiamobile6l') {
        km6l_in_cart = true;
      }
      if (currentCart.items[i].handle === 'kardiamobile6l-carrypod') {
        km6l_cp_in_cart = true;
      }
    }
    if (km_in_cart && !km_cp_in_cart && !km6l_in_cart) {
      setTimeout(function() {
        showCarryPodOffer();
      }, 1500);
    }
    if (km6l_in_cart && !km6l_cp_in_cart) {
      setTimeout(function() {
        showCarryPod6lOffer();
      }, 1500);
    }
  }
  function showOmronOffer() {
    var omron_id = 31667890454593;
    $('.pop-up.omron').addClass('open');
    $('#omron-add').on('click', function() {
      $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: {
          'quantity': 1,
          'id': omron_id
        },
        dataType: 'json',
        success: function() {
          location.reload();
        }
      });
    });
    $('#omron-no, #omron-close').on('click', function() {
      $('.pop-up.omron').removeClass('open');
    });
  }

  function showCarryPodOffer() {
    var cp_id = 52407081427;
    $('.pop-up.km-carrypod').addClass('open');
    $('#km-carrypod-add').on('click', function() {
      $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: {
          'quantity': 1,
          'id': cp_id
        },
        dataType: 'json',
        success: function() {
          location.reload();
        }
      });
    });
    $('#km-carrypod-no, #km-carrypod-close').on('click', function() {
      $('.pop-up.km-carrypod').removeClass('open');
    });
  }
  function showCarryPod6lOffer() {
    var cp6l_id = 29243799208001;
    $('.pop-up.km6l-carrypod').addClass('open');
    $('#km6l-carrypod-add').on('click', function() {
      $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: {
          'quantity': 1,
          'id': cp6l_id
        },
        dataType: 'json',
        success: function() {
          location.reload();
        }
      });
    });
    $('#km6l-carrypod-no, #km6l-carrypod-close').on('click', function() {
      $('.pop-up.km6l-carrypod').removeClass('open');
    });
  }

  //Cookies stuff
  var acceptsCookies,
      closeCookieMsgBtn,
      cookiesMsg,
      disableKey,
      setCookie;

  // get cookie named accepts_cookies
  acceptsCookies = Cookies.get('accepts_cookies');

  closeCookieMsgBtn = $('#cookies-ok');

  cookiesMsg = $('#cookies-message');

  closeCookieMsgBtn.on('click', function(e) {
    return cookiesMsg.remove();
  });

  // cookie will expire after a year
  setCookie = function(value) {
    Cookies.set('accepts_cookies', value, {
      expires: 365,
      domain: 'alivecor.com'
    });
  };

  // accepts_cookies cookie exists
  if (acceptsCookies !== undefined) {
    // remove banner
    cookiesMsg.remove();
  } else {
    cookiesMsg.removeClass('hideBanner');
    setCookie(true);
  }

  //Newsletter signup
  var isEmail = function(email) {
    var regex;
    regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    return regex.test(email);
  };

  $("#mc-embedded-subscribe").on('click', function(e) {
    var email;
    $("footer .not-valid").hide();
    email = $("#mce-EMAIL").val();
    if (isEmail(email)) {
      var url = $("#mc-embedded-subscribe-form").prop('action');
      $.ajax({
        type: "GET",
        url: url,
        data: $("#mc-embedded-subscribe-form").serialize(),
        dataType: "json",
        crossDomain: true,
        success: function(data) {
          if (data.result == 'success') {
            $("footer .thankyou").fadeIn();
            var newsletterSubmitURL = window.location.protocol + '//' + window.location.host + window.location.pathname + '#newsletter-submit';
            window.location.href = newsletterSubmitURL;
          }
        }
      })
      .done(function(data) {
        if (data.result === 'error') {
          $("footer .error").html(data.msg).fadeIn();
        }
      });
    } else {
      $("footer .bad-email").fadeIn();
      return false;
    }
    e.preventDefault();
  });

});

// video functions
var player;

function vimeoPlayer(id) {
  // player was already initialized
  if (player) {
    player.loadVideo(id).then(function() {
      playVideo();
      player.setColor('#2D9F86');
    });    
  } else {
    // first time playing a video
    var iframe = document.querySelector('#video-player iframe');
    iframe.src = 'https://player.vimeo.com/video/' + id;
    iframe.setAttribute('style', 'display: block');
    player = new Vimeo.Player(iframe);
    player.ready().then(function() {
      playVideo();
      player.setColor('#2D9F86');
    });
    
  }
  player.on('ended', function() {
    // close player when video ends
    player.unload();
    setTimeout(function() {
      closeModal();
    }, 500);
  });
}

function playVideo() {
  var isNotMobile = window.matchMedia("only screen and (min-width: 760px)");
  if (isNotMobile.matches) {
    player.play();
  }
}

function stopVideo() {
  player.pause();
  player.unload();
  player.off('ended');
}

//global modal functions
function openModal(type) {
  $('body').addClass("modal-open");
  $('.modal-fade-screen').addClass('open');

  if (type === 'video') {
    $('.modal-inner.video').show();
    $('.modal-inner.shipping-gb').hide();
  }
  if (type === 'shipping-gb') {
    $('.modal-inner.shipping-gb').show();
    $('.modal-inner.video').hide();
  }
}

function closeModal() {
  $('body').removeClass("modal-open");
  $('.modal-fade-screen').removeClass('open');
  $('.modal-inner').hide();
}

// Product-pre-order template
// PREORDER TEXT ON BUTTON CHANGE
function variantPreorderProduct() {
  $('.late-ship').show();
  $('#AddToCart').css('margin-bottom', '30px');
  $('#free-ship-benefit').html("Free Shipping");
  $('.product-description ul li:last-of-type').hide();
}
function variantForSaleProduct() {
  $('.late-ship').hide();
  $('#AddToCart').css('margin-bottom', '60px');
  $('#free-ship-benefit').html("Free Shipping: <span>2-5 business days</span>");
  $('.product-description ul li:last-of-type').show();
}

// Change default sort of stamped reviews
$(document).on('stamped:reviews:loaded', function(){
  $('.stamped-sort-select option[value="most-votes"]').html('Most Helpful');
  $('.stamped-sort-select option[value="least-votes"]').html('Least Helpful');
});
