$(document).ready(function() {
  // navigation
  var scrollTop = 0;
  $(window).scroll(function(){
    scrollTop = $(window).scrollTop();

    // nav bar resize
    if (scrollTop >= 50) {
      $('.navigation').addClass('scrolled-nav');
    } else if (scrollTop < 50) {
      $('.navigation').removeClass('scrolled-nav');
    }
  });

  // if landing in the middle of the page, change nav to scrolled
  if ($(window).scrollTop() > 50) {
    $('.navigation').addClass('scrolled-nav');
  }
  $('#js-navigation-menu').removeClass('show');

  $('#js-mobile-menu').on('click', function() {
    document.getElementById('mobile-overlay').style.height = "100%";
    $('#js-navigation-menu').addClass('show');
  });

  $('#js-mobile-menu-close').on('click', function() {
    document.getElementById('mobile-overlay').style.height = "0%";
    $('#js-navigation-menu').removeAttr('style');
    $('#js-navigation-menu').removeClass('show');
  });

  // store home add captions
  $('#home-grid-carrypod .img-caption').html('KardiaMobile in Carry Pod, closed & open');
  $('#home-grid-iphone-8-7-case .img-caption').html('KardiaMobile in iPhone 8/7 case');
  $('#home-grid-phoneclip .img-caption').html('Phone Clip adheres to back of phone or phone case. KardiaMobile snaps right in.');
  $('#home-grid-iphone-5-5s-case .img-caption').html('Empty iPhone 5 / 5s / SE case');

  // product page change image on size change
  $('form').on('click', "input", function(e) {
    var imgUrl = $(this).data().imgUrl;
    $('#ProductPhoto img').attr('src', imgUrl);
  });

  // accordion functions
  var bannerHeight = 70;

  function scrollToAnchor(anchorId) {
    var aTag = $("a[name='"+ anchorId +"']");
    $('html, body').animate({
      scrollTop: aTag.offset().top - bannerHeight
    }, 1000);
  }

  //scroll to tabs on page load  if there is a hash
  var hash = window.location.hash
  if (hash.length > 0) {
    var split = hash.split('#')
    window.setTimeout(function() {
      scrollToAnchor(split[1]);
      $(hash + ' h3').click();
    }, 500);
  }

  //scroll to tabs when you click on this class
  $('.scroll-to-tab').on('click', function(e) {
    e.preventDefault();
    var hash = e.currentTarget.hash
    var split = hash.split('#');
    scrollToAnchor(split[1]);
    $(hash + ' h3').click();
  });

  $('.accordion h3').on('click', function(evt) {
    evt.preventDefault();
    var _this = $(this).parent('.accordion');
    _this.find('.accordion-inner').slideToggle();
    _this.find('.rightarrow').toggle();
    _this.find('.downarrow').toggle();
  });

  //some old modal bullshit
  // videos
  $('.play-video').on('click', function(evt) {
    evt.preventDefault();
    var videoId = $(this).data().videoid;
    openModal('video');
    vimeoPlayer(videoId);
  });

  // closing modal
  $('.modal-fade-screen, .modal-close').on('click', function() {
    closeModal();
    if (player) {
      stopVideo();
    }
  });

  $(".modal-inner").on("click", function(e) {
    e.stopPropagation();
  });

});

// video functions
var player;

function vimeoPlayer(id) {
  // player was already initialized
  if (player) {
    player.loadVideo(id).then(function() {
      playVideo();
      player.setColor('#2D9F86');
    });    
  } else {
    // first time playing a video
    player = new Vimeo.Player('video-player', {
      id: id
    });
    player.ready().then(function() {
      playVideo();
      player.setColor('#2D9F86');
    });
    
  }
  player.on('ended', function() {
    // close player when video ends
    player.unload();
    setTimeout(function() {
      closeModal();
    }, 500);
  });
}

function playVideo() {
  var isNotMobile = window.matchMedia("only screen and (min-width: 760px)");
  if (isNotMobile.matches) {
    player.play();
  }
}

function stopVideo() {
  player.pause();
  player.unload();
  player.off('ended');
}

//global modal functions
function openModal(type) {
  $('body').addClass("modal-open");
  $('.modal-fade-screen').addClass('open');

  if (type === 'video') {
    $('.modal-inner.video').show();
    $('.modal-inner.premium').hide();
    $('.modal-inner.report').hide();
  }
}

function closeModal() {
  $('body').removeClass("modal-open");
  $('.modal-fade-screen').removeClass('open');
  $('.modal-inner').hide();
}

// Product-pre-order template
// PREORDER TEXT ON BUTTON CHANGE
function variantPreorderProduct() {
  $('.late-ship').show();
  $('#AddToCart').css('margin-bottom', '30px');
  $('#free-ship-benefit').html("Free Shipping");
  $('.product-description ul li:last-of-type').hide();
}
function variantForSaleProduct() {
  $('.late-ship').hide();
  $('#AddToCart').css('margin-bottom', '60px');
  $('#free-ship-benefit').html("Free Shipping: <span>1-3 business days</span>");
  $('.product-description ul li:last-of-type').show();
}

// for main store page
// PREORDER TEXT ON BUTTON CHANGE
function variantPreorder(product) {
  $('.late-ship.' + product).show();
}
function variantForSale(product) {
  $('.late-ship.' + product).hide();
}
